@import "tailwindcss";

@layer utilities {
  /* Creamos la clase font-display para Passion One */
  .font-gunavati {
    font-family: var(--font-passions-conflict);
  }
  
  /* Creamos la clase font-body para Raleway */
  .font-body {
    font-family: var(--font-raleway);
  }
  .font-script {
    font-family: var(--font-lavishly-yours);
  }
}

@theme {
  /* Fuentes (las que ya configuramos) */
  --font-passions-conflict: var(--font-passions-conflict);
  --font-lavishly-yours: var(--font-lavishly-yours);

  /* Paleta de colores: Primary */



  --color-primary-50: #BBD1AB;
  --color-primary-100: #B1CA9D;
  --color-primary-200: #9BBC83;
  --color-primary-300: #86AD68;
  --color-primary-400: #729953;
  --color-primary-500: #5E7F45;
  --color-primary-600: #435B31;
  --color-primary-700: #28361E;
  --color-primary-800: #0D120A;
  --color-primary-900: #000000;
  --color-primary-950: #000000;


    --color-secondary-50: #F4E6CC;
    --color-secondary-100: #F1DDBC;
    --color-secondary-200: #E9CC9A;
    --color-secondary-300: #E2BC78;
    --color-secondary-400: #DBAB57;
    --color-secondary-500: #D49A35;
    --color-secondary-550: #D49A35;
  --color-secondary-600: #AC7B25;
  --color-secondary-700: #7E5A1B;
  --color-secondary-800: #503911;
  --color-secondary-900: #211807;
  --color-secondary-950: #0A0702;



  /* Paleta de colores: Surface (Tus grises/fondos) */
  --color-background-100: #F7F1E7;
  --color-neutral-100: #F0DDC2; 

  /* Colores semánticos */
  --color-accent: #91693B;
  --color-accent2: #7D5527;
}

